<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759385817839-mae3j11abpucit61fbnn0u2unkiflppf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759385817839-mae3j11abpucit61fbnn0u2unkiflppf</string>
	<key>API_KEY</key>
	<string>AIzaSyA8RKfrK7KgcmTtqGeLufFJU-1e8gw8vuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>759385817839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.brandslabels</string>
	<key>PROJECT_ID</key>
	<string>brandsandlabels</string>
	<key>STORAGE_BUCKET</key>
	<string>brandsandlabels.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759385817839:ios:a935fc5a9904d0d6d5911a</string>
</dict>
</plist>